<strong>{{ student }}, seja bem vindo à GYM POINT!</strong>
<p>Abaixo os detalhes de sua matrícula:</p>

<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Início </strong> {{ start_date }} <br />
  <strong>Data de Término </strong> {{ end_date }} <br />
  <br />
</p>
